<!-- <div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">List</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of checklist;">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>
          <button type="button" class="btn btn-primary px-3 mx-3"
          (click)="view_list_item(data)">
          view
        </button>

        <button type="button" (click)="getDelete(data.id)" class="btn btn-danger mr-1 px-3 mx-3">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
