<!-- <p>login works!</p> -->
<div class="flex mb-4">

    <div class="w-1/2 h-screen px-24 py-32">
      <img src="../../assets/img/logoBTS.png" alt="logo-bts.id" class=" w-40 h-24">
      <h1 class="pt-12 font-bold">Welcome</h1>
      <p class="text-sm text-gray-500 mb-20">Please login to start your activity!</p>

      <form action="">
        <div class="mb-4">
          <label for="username" class="text-sm font-bold">Username</label>
          <br>
          <input class="shadow appearance-none border rounded w-10/12 py-2 px-3 leading-tight" type="text" placeholder="Enter your email" [(ngModel)]="email" name="email">
        </div>

        <div class="mb-4">
          <label for="password" class="text-sm font-bold">Password</label>
          <br>
          <input class="shadow appearance-none border rounded w-10/12 py-2 px-3 leading-tight " type="password" placeholder="Enter your password" [(ngModel)]="password" name="password">
          <p class="text-sm text-red-300 pt-4">Forgot Password?</p>
        </div>

        <div class="mb-4 pt-8">
          <button type="submit" class="bg-green-500 text-white py-1 px-12 rounded-md" (click)="loginProcess()">Login</button>
        </div>

      </form>
    </div>

    <div class="w-1/2 h-12 grid-second h-screen px-12 py-32">
      <!--wavy background-->
      <!--icon email n lock in input-->
    </div>
  </div>
